@font-face {
  font-family: clashDisplay;
  src: url("assets/ClashDisplay-Variable.ttf");
  font-display: auto;
}

body {
  margin: 0;
  font-family: clashDisplay;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
