.project-text {
  display: flex;
  gap: 5px;
  padding-left: 3rem;
  padding-bottom: 0;
}

.project-name {
  transition: 500ms;
  font-size: 58px;
  font-weight: 900;
  margin-bottom: 0;
}

.project-name:hover {
  font-weight: 200;
}

.project-year {
  padding-top: 1rem;
  font-size: 20px;
  font-weight: 700;
}

.project-desc {
  font-size: 24px;
  word-spacing: 2px;
  margin-right: 55rem;
}

@media only screen and (max-width: 945px) {
  .project-text {
    display: flex;
    gap: 5px;
    padding-left: 2rem;
    padding-bottom: 0;
  }

  .project-name {
    font-size: 28px;
  }

  .project-year {
    padding-top: 1rem;
    font-size: 13px;
    font-weight: 700;
  }

  .project-desc {
    margin-right: 3rem;
  }
}
